* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.flex {
    display: flex;
}

button {
    cursor: pointer;
}


/* header */

.container {
    justify-content: flex-end;    
}

.container button {
    padding: 5px;
    background-color: #4a4a4a;
    color: #ffffff;
    margin: 2px;
    border-radius: 5px;
}

main {
    height: calc(100vh - 94px);
    overflow: auto;
}

/* main */
.flexwrap {
    flex-wrap: wrap;
}

.section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
}

.cam {
    position: relative;
    margin-left: 1vh;
}

.user {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: white;
    background-color: #66737f;
}

/* footer */

.commands {
    display: flex;
    justify-content: space-between;
    background-color: #4a4a4a;
    color: white; 
}

.arrowup {
    margin: 20px 10px;
}

.button {
    text-align: center;
    margin: 10px;
}

p {
    margin-top: 5px;
}

.green {
    color: #4bc800;
}

.endmeet {
    background-color: #4a4a4a;
    color: #f00326;
    border: none;
}